---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- ----------SEO things---------- -->
    <title>The Resume Guy: Resume Creation Service in Sri Lanka</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "The Resume Guy",
        "url": "https://www.theresumeguy.shop/"
      }
    </script>
    <meta property="og:site_name" content="The Resume Guy" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- -------------------- -->
  </head>
  <body>
    <h1>The Resume Guy</h1>
    <section>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
        repellendus, incidunt dicta maiores voluptates voluptatibus! Illo dolore
        a similique doloribus! Corporis sequi incidunt pariatur facere culpa
        harum perferendis consequatur minima beatae labore deserunt recusandae,
        libero, voluptas sit illo ratione sapiente. Ipsum porro molestiae esse
        ratione fugiat dignissimos! Ullam ducimus deserunt repellendus? Quas
        placeat, veniam dolore, nesciunt hic mollitia sunt nobis minima
        quibusdam nostrum amet debitis nemo facilis ab iusto, pariatur dolorum
        doloremque accusamus harum? Autem, neque. Maxime cum possimus aspernatur
        eligendi distinctio ut dolore sapiente nihil exercitationem, ipsa
        recusandae similique molestiae impedit placeat culpa rerum alias autem!
        Cupiditate optio maiores laudantium eligendi? Explicabo rem fugiat quo
        aut perferendis, dolor, eligendi ea obcaecati enim magnam voluptatibus
        labore dignissimos nisi ipsa quis, voluptates debitis eveniet odit
        adipisci quibusdam officiis eos temporibus. Facere sint nisi dicta
        error, praesentium quibusdam quasi? Perferendis fuga molestias nisi
        veritatis consequuntur odit ea quia quae corporis doloribus esse
        nesciunt est, ipsa quasi molestiae provident magni soluta ipsum? Nam
        quae illo, rem quos sed nisi veritatis dignissimos voluptate facilis
        reprehenderit totam aperiam est aliquam inventore, laudantium cum harum?
        Quam, et minus porro, voluptatum voluptatem veritatis sed libero
        repellendus voluptatibus ullam totam corporis dolores officia soluta
        nobis perferendis deleniti pariatur alias eveniet aperiam. Architecto
        amet optio autem, obcaecati quasi similique ipsa ex delectus iusto
        voluptas sapiente voluptates laborum magnam. Nemo voluptas eaque ea id
        autem, doloribus eveniet, illum qui optio corporis fugit praesentium.
        Voluptatum voluptatibus ipsum quos placeat natus, animi inventore
        temporibus dignissimos, eos ducimus vel dolores incidunt repellendus
        accusantium aliquam, itaque corrupti. Esse earum laboriosam pariatur
        modi non! Eveniet molestiae facere labore quam commodi porro dicta
        quibusdam alias vitae beatae sint eligendi placeat voluptate rerum
        dolores quod, distinctio nihil nesciunt laudantium. Nihil fugit totam id
        quam culpa, iure ipsum, dignissimos doloribus, sapiente praesentium sit
        incidunt aut hic maiores? Repudiandae maxime dolorum iste nemo
        voluptatum, cupiditate dolores similique perspiciatis, quaerat cum vero
        recusandae est minima voluptates delectus earum doloremque? Aspernatur
        consequuntur ut veniam illo ad sequi reprehenderit, officiis deserunt
        hic animi culpa laborum. Magnam adipisci vel error magni! Aliquid
        repellat modi tenetur sit nisi, fugit qui voluptatibus vitae itaque
        facere cum quo error fugiat earum dolor maiores recusandae facilis quam
        vel consequatur. Rerum, labore temporibus, soluta deleniti accusantium
        voluptatum expedita aperiam unde doloribus consequatur aspernatur
        aliquam illo architecto repudiandae ipsum similique repellat laboriosam
        perspiciatis nam autem voluptatem, sequi hic error? Ut, illo ab omnis
        earum suscipit quasi voluptas, reprehenderit ad exercitationem in
        provident eum maiores laudantium eveniet quisquam accusantium sapiente
        eaque qui aperiam minus placeat dolore? Deleniti rerum corrupti beatae
        facere cumque, assumenda libero blanditiis quasi maxime voluptatibus ea
        aliquid non? Necessitatibus animi nemo non dolore possimus tempore esse.
        Similique, quasi! Natus optio repellendus earum! Dolores quia laborum
        atque. Debitis ad facere vitae veniam dolores voluptatibus eum corrupti
        commodi reiciendis eaque dignissimos modi voluptas repellat porro, sit
        laborum magnam aut animi itaque earum! Deserunt labore cupiditate magni
        molestias amet? Mollitia quae possimus exercitationem fuga recusandae
        esse voluptate repudiandae in eum eos sunt, et quaerat. Aperiam
        quibusdam architecto officiis at sint?
      </p>
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1699633630/unipic_tqnti9.jpg"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1697557608/giphy_r3tncq.webp"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/video/upload/v1696919001/ezgif.com-gif-to-webm_jnwvas.webm"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1696913589/Business_Card_Design_by_Avidu_Sampath_ppcd0u.webp"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1696828885/wow_iieneh.gif"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1661146958/animated-webp-supported_blul6l.webp"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/avidu/image/upload/v1696913591/T-shirt_design_by_avidu_sampath_xbaucs.webp"
        alt=""
      />
    </section>
  </body>
</html>

<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>
