---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <!-- hero section -->
    <section class="heroSection">
      <!-- hero container -->
      <div class="container heroContainer">
        <!-- hero title -->
        <h1>Land Your Dream Job with a Powerfully Written Resume</h1>
        <!-- hero buttons -->
        <div class="buttonWrapper">
          <a href="/" class="buttonPrimary">Get Yours Now</a>
          <a href="/" class="buttonSecondary">Learn More</a>
        </div>
        <!-- hero image -->
        <img
          src="https://res.cloudinary.com/avidu/image/upload/v1704093459/trg/Hero_Image_2_l5cs6y.webp"
          alt=""
          class="heroImage"
        />
      </div>
    </section>

    <!-- introduction section -->
    <section class="introSection">
      <div class="container">
        <h2>Professional resume writing in Sri Lanka</h2>
        <p>
          Stop wasting your 500s on one time resume creation from random tech
          shops. We are here to give you one-time* all-in-one solution for all
          of document writing services. Without copying and pasting template we
          create custom and unique resumes that suites to your dream job.
        </p>

        <!-- list content -->
        <div class="features">
          <div class="featureItem">
            <h3>Professionalism</h3>
            <p>
              We deliver high-quality, polished resumes that meet industry
              standards.
            </p>
          </div>

          <div class="featureItem">
            <h3>Client-Centric</h3>
            <p>
              We prioritize our clients' needs and goals, providing personalized
              service and responsive communication.
            </p>
          </div>

          <div class="featureItem">
            <h3>Trustworthiness</h3>
            <p>
              We maintain ethical business practices and ensure the
              confidentiality of client information.
            </p>
          </div>

          <div class="featureItem">
            <h3>Innovation</h3>
            <p>
              We stay updated on the latest trends and technologies in resume
              writing to offer the most effective solutions.
            </p>
          </div>

          <div class="featureItem">
            <h3>Affordability</h3>
            <p>
              We provide competitive pricing and flexible packages to ensure our
              services are accessible to all job seekers.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- mission section -->
    <section>
      <div class="container">
        <div class="missionWrapper">
          <h2>
            “Our Mission is To empower job seekers in Sri Lanka with impactful
            and tailored resumes that land them their dream jobs”
          </h2>
        </div>
      </div>
    </section>

    <!-- services section -->
    <section class="servicesSection">
      <!-- service items -->
      <div class="container">
        <h2>Our Services</h2>

        <ul class="services">
          <!-- service item 1 -->
          <li class="serviceItem">
            <h3>
              <span class="number">01</span>
              <hr />
              <span class="serviceTitle">Resume Writing</span>
            </h3>
            <p class="serviceDescription">
              Creating powerful and eye catching resumes that stand out from the
              crowd. Every resume we create are tailored to your job needs we'll
              highlight your unique skills and experience to land your dream
              job, not just any job. Leave the resume writing to the experts and
              focus on what you do best.
            </p>
          </li>

          <!-- service item 2 -->
          <li class="serviceItem">
            <h3>
              <span class="number">02</span>
              <hr />
              <span class="serviceTitle">Cover Letter Writing</span>
            </h3>
            <p class="serviceDescription">
              Your resume is the polished gem, showcasing your skills and
              experience, but it needs the perfect setting to truly sparkle.
              That's where your cover letter comes in, the dazzling introduction
              that captures the recruiter's attention and compels them to delve
              deeper into your resume.
            </p>
          </li>
        </ul>
      </div>

      <!-- testimonials -->
      <div class="container testimonials">
        <h2>What Others Say About Our Service</h2>

        <!-- testimonial wrapper -->
        <div class="testimonialWrapper">
          <!-- single testimonial -->
          <div class="testimoni">
            <p>
              “Creating powerful and eye catching resumes that stand out from
              the crowd. Every resume we create are tailored to your job needs
              we'll highlight your unique skills and experience to land your
              dream job, not just any job. Leave the resume writing to the
              experts and focus on what you do best.”
            </p>

            <!-- person name -->
            <p>
              <span class="name">Salika Lakmal</span>
              <br />
              <span class="position">Ex Quality Assurance at JK Garments</span>
            </p>
          </div>
          <!-- -------------------------- -->
        </div>
      </div>
    </section>

    <section class="faqSection">
      <div class="container">
        <h2>Frequently Asked Questions</h2>

        <!-- questions and answers -->
        <ol class="faqs">
          <!-- question 1 -->
          <li class="faqItem">
            <h4 class="question">1. How much is to create one page CV?</h4>
            <p class="answer">Starts with 1000LKR(around 3.5USD)</p>
          </li>

          <!-- question 2 -->
          <li class="faqItem">
            <h4 class="question">2. When i get the CV once i made payment?</h4>
            <p class="answer">
              Your resume/CV will receive to you within one day
            </p>
          </li>

          <!-- question 3 -->
          <li class="faqItem">
            <h4 class="question">3. What file format is my CV?</h4>
            <p class="answer">
              We’ll send your CV/Resume in JPG and PDF formats
            </p>
          </li>

          <!-- question 4 -->
          <li class="faqItem">
            <h4 class="question">
              4. Can i change things later in my CV? If yes how much for it?
            </h4>
            <p class="answer">
              Yes we’ll made changes later as you need. Pricing starts with
              500LKR
            </p>
          </li>

          <!-- question 5 -->
          <li class="faqItem">
            <h4 class="question">5. How much is for one page CV?</h4>
            <p class="answer">Starts with 1000LKR(around 3.5USD)</p>
          </li>
        </ol>
        <!-- ------------------------ -->
      </div>
    </section>
  </main>
</Layout>

<style>
  /* hero section */
  .heroSection {
    padding: 0.5rem;
  }
  .heroContainer {
    background-color: var(--orange);
    height: 100dvh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 3.5rem;
  }

  .heroImage {
  }

  .buttonPrimary {
    padding: 0.5rem;
    background-color: var(--orange-light);
    border: 1px solid black;
    margin-bottom: 1rem;
  }

  .buttonSecondary {
    padding: 0.5rem;
  }

  /* intro section */
  .introSection {
    background-color: var(--orange-light);
  }

  .features {
    background-color: var(--orange);
    padding: 0.5rem;
    border: 1px solid black;
  }

  .featureItem {
    border-bottom: 1px solid black;
  }

  .featureItem h3,
  p {
    text-align: start;
  }

  /* about us section */
  .missionWrapper {
    background-color: var(--orange);
    border: 1px solid black;
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }

  /* services section */
  .servicesSection {
    background-color: var(--orange-light);
  }

  .serviceItem h3 {
    text-align: start;
  }

  .serviceItem .number {
    font-size: var(--p-l);
  }

  /* testimonials */
  .testimonials h2 {
    text-align: start;
  }

  .testimonialWrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
  }

  .testimoni {
    background-color: var(--orange);
    padding: 0.5rem;
    border: 1px solid black;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .testimoni .name {
    font-weight: bold;
  }

  /* faqs */
  .faqItem h4,
  p {
    text-align: start;
  }

  .faqs {
    max-width: 900px;
  }

  .faqItem {
    margin-bottom: 1rem;
  }

  .question {
    background-color: var(--orange);
    padding: 0.5rem;
  }

  .answer {
    background-color: var(--orange-light);
    padding: 0.5rem;
  }
</style>