---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>The Resume Guy: Resume Creation Service in Sri Lanka</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "The Resume Guy",
        "url": "https://www.theresumeguy.shop/"
      }
    </script>
    <meta property="og:site_name" content="The Resume Guy" />
  </head>
  <body>
    <h1>The Resume Guy</h1>
  </body>
</html>
