---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="hero">
      <h1>Land Your Dream Job with a Powerfully Written Resume</h1>
    </section>
  </main>
</Layout>
