---

---

<footer>
  <div class="container">
    <!-- footer CTA -->
    <div class="footerCta">
      <h2>Seen enough? Let’s get the job done!</h2>

      <div class="buttonWrapper">
        <a href="/" class="buttonPrimary">Submit Your Details</a>
        <a href="/" class="buttonSecondary">Contact Us</a>
      </div>
    </div>

    <!-- email and phone -->
    <a href="mailto:cv@theresumeguy.shop">
      <h3>cv@theresumeguy.shop</h3>
    </a>
    <a href="tel:+9474-7578-788">
        <h3>+9474-7578-788</h3>
    </a>
  </div>

  <!-- social media icons -->
  <div class="socialIcons">
    <a href="http://">Facebook</a>
    <a href="http://">Instagram</a>
    <a href="http://">LinkedIn</a>
    <a href="http://">X/Twitter</a>
  </div>
</footer>

<style>
  footer {
    background-color: var(--orange);
  }

  .footerCta {
    background-color: var(--orange-light);
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  }

  .buttonPrimary {
    padding: 0.5rem;
    background-color: var(--orange);
    border: 1px solid black;
    margin-bottom: 1rem;
  }

  .buttonSecondary {
    padding: 0.5rem;
  }

  .socialIcons {
    display: grid;
    border: 1px solid black;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
</style>
