---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- ----------SEO things---------- -->
    <title>The Resume Guy | Resume Creation Service in Sri Lanka</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "The Resume Guy",
        "url": "https://www.theresumeguy.shop/"
      }
    </script>
    <meta property="og:site_name" content="The Resume Guy" />
    <meta
      name="description"
      content="Forget generic templates!  Get a captivating cover letter tailored to your resume & dream job.  Avidu's writing experts craft compelling narratives that land interviews."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <!-- -------------------- -->
  </head>
  <body>
    <slot />
  </body>
</html>
